.ProductSelector {
    /*display: contents;*/
    grid-column: 5/-1;
    grid-row: 1/4;
    @media screen and (max-width: 64rem) {
        grid-row: 2/3;
    }
    @media screen and (min-width: 64rem) {
        padding: 2rem;
    }

    height: 100%;
    :where([data-mantine-color-scheme='light']) {
        --separator-color: transparent;
    }
    [data-content="section_image"] {
        img {

            width: auto !important;
             height: 100% !important;
             object-fit: cover;
        }
    }
    [data-content="section_select__variant"] {

        h4 {
            font-weight: 700 !important;
            margin-bottom: .625rem !important;
        }
        gap: 1rem 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    &[data-type="product-controls"], &[data-type="product-hydraulic-tools"]  , &[data-type="product-hydraulic-product"]  {
        grid-column: 6/-1;
        grid-row: 1/2;
		justify-items: end;
		max-height: 30rem;
        padding: 0;
		display: flex;
		/*justify-content: end;*/
		img {
			width: auto !important;
			height: 100% !important;
		}
    }

}
.wrapper {
    position: sticky;
    top: 0;
    & [data-content="section_image"] {
        @media screen and (min-width: 64rem) {
            padding: 0 4rem 4rem;
        }

    }
    &[data-content="wrapper-controls"] {
        position: relative;
        @media screen and (min-width: 64rem) {
            margin-top: -4rem;
        }
    }
}
