.section {
    padding: 4rem 0 0 0;
    display: grid;
    grid-template-columns: var(--content-grid);
    gap: var(--gap);
    &:only-child {
        padding: 4rem 0;
    }
    & > [data-content] {
        grid-column: 1/-1;
    }

    [data-content="section_title"], [data-content="section_description"] {
        grid-column: 1/-1;

        @media screen and (min-width: 48em) {

        }
        @media screen and  (min-width: 74em) {
            grid-column: 5/-1;
            animation: var(--animate-scaley-back);
            h1 {

            }
        }
    }

    [data-content="section_short_description"], [data-content="section_description"]  {

        grid-column: 1/-1;
        /*font-size: var(--mantine-font-size-lg);*/
        padding-right: 1rem;
        @media screen and (min-width: 48em) {

        }
        @media screen and  (min-width: 74em) {
            grid-column: 1/5;
            margin: 1rem 1rem 1rem 0;
        }
    }
    &[data-content='section-events_cards'] {
        [data-content="section_content"] {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
            @media screen and (min-width: 48em) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: 64em) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    &[data-content="section-page"] + [data-content="section-catalog"] {
        [data-content="section_description"], [data-content="section_title"] {
            display: none;
        }
    }
    &[data-content="section-page"] {
		@media screen and (max-width: 74em) {
			display: grid;
			[data-content="section_description"] {
				margin-top: 0;
			}
			[data-content="section_title"] {
				order: -1;
				margin: 0;
				h1 {
					margin-top: 0;
				}
			}

		}
    }
    @media screen  and (max-width: 48em){
        display: block;
        padding: 1rem 0;
        & > * {
            margin: 1rem 0;
        }
    }
    @media screen and (max-width: 64rem) {

        gap: 1rem;
        padding: 1rem 0;
        & > * {
            grid-column: 1/-1 !important;
        }
        [data-content="section_select__variant"]  {
            padding: 2rem 0 0 ;
            transform: translateY(0);
        }
        [data-type="product-controls"], [data-type="product-hydraulic-tools"] {
            grid-row: 2/3 !important;
        }

    }
}
