.section {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: var(--content-grid);
    gap: var(--gap);

    & > [data-content] {
        grid-column: 1/-1;
    }

    [data-content="section_title"], [data-content="section_description"] {
        grid-column: 1/-1;

        @media screen and (min-width: 48em) {

        }
        @media screen and  (min-width: 74em) {
            grid-column: 5/-1;
            animation: var(--animate-scaley-back);
            h1 {

            }
        }
    }

    [data-content="section_short_description"], [data-content="section_description"]  {

        grid-column: 1/-1;
        /*font-size: var(--mantine-font-size-lg);*/
        padding-right: 1rem;
        @media screen and (min-width: 48em) {

        }
        @media screen and  (min-width: 74em) {
            grid-column: 1/5;
            margin: 1rem 1rem 1rem 0;
        }
    }
    &[data-content='section-events_cards'] {
        [data-content="section_content"] {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
            @media screen and (min-width: 48em) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: 64em) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    &[data-content="section-page"] + [data-content="section-catalog"] {
        [data-content="section_description"], [data-content="section_title"] {
            display: none;
        }
    }
    &[data-content="section-page"] {

    }
    @media screen  and (max-width: 48em){
        display: block;
        & > * {
            margin: 1rem 0;
        }
    }
}