.card {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    gap: 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray-50);

    [data-type="card_link_back"] {
        display: none;
    }
    [data-type='card_specs' ] {
        display: none;
    }

    &[data-specs-open="true"] {
        [data-type="card_link_back"] {
            display: block;
        }
        [data-type='card_specs' ] {
            display: block;
        }
        [data-type="card_link"] {
            display: none;
        }
    }
}
.image {
    grid-column: 1;
}
.card_title {
    grid-column: 2/-1;
    h6 {
        font-size: .875rem;
    }
}
.specs {
    grid-row: 3;
    grid-column: 1/-1;
    p {
        margin: 1rem 0;
    }
}
.card_link {
    grid-column: 1/-1;
    button {
        background-color: white;
        color: var(--text-color);
        &:hover {
            border: 1px solid white;
        }
        width: 100%;
        *:not([data-position="left"]) {
            text-align: center;
            justify-content: center;
            /*justify-items: center;*/

        }
        [data-position="left"] {
            flex: 0 0 40px;
        }
    }
}
.specs_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    padding: .75rem;
    gap: var(--gap);
    border-bottom: 1px solid var(--color-gray-200);
    &:nth-child(odd) {
        background-color: white;
    }
    [data-card="description"] {
		align-self: end;
	}
    [data-card='title'] {
        font-weight: 600;
        color: black;
    }
}
