.card {
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 280/300;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.gallery {

}
.indicators {
    margin-bottom: -4rem;
}
.indicator {
    width: 1.5rem;
    height: .5rem;
    transition: width 250ms ease;
    background-color: var(--mantine-color-gray-2);
    &[data-active] {
        width: 40px;
        background-color: var(--color-blue-500);
    }
}