.root {
    position: relative;
    [id="v360-menu-btns"] {
        display: none !important;
        background-color: red;
    }
    &  abbr,&  #v360-menu-btns {

    }
}
.control {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 1rem;
    a {
        padding: 0.5rem 1.25rem;
        display: inline-block;
        border-bottom: 0;
        border-radius: var(--mantine-radius-md);
        background-color: var(--mantine-color-gray-1);
        cursor: pointer;
    }
}