.grid {
    display: grid;
    --columns: var(--margin) var(--content-grid) var(--margin);
    grid-template-columns: var(--columns);
    gap: 0 var(--gap);
    & > * {
        grid-column: 2/-2;
    }
}

.header, .footer {
    grid-column: 1/-1;
    position: relative;
    display: grid;
    --columns: var(--margin) var(--content-grid) var(--margin);
    grid-template-columns: var(--columns);
    gap: 0 var(--gap);

    & >  [data-content="wrapper"] {
        grid-column: 2/-2;
        display: grid;
        --columns: var(--content-grid);
        grid-template-columns: var(--columns);
        gap: 0 var(--gap);
    }
}

.header {
    height: 120px;
    border-bottom: 1px solid var(--border-default);

    & >  [data-content="wrapper"] {
        align-items: center;
    }
}

.footer {
    padding: 4rem 0 ;
    background: #3B3B3B;
    border-top: 1px solid #424242;
    & > [data-content="wrapper"] {
        grid-column: 2/-2;
        display: grid;
        --columns: var(--content-grid);
        grid-template-columns: var(--columns);
        gap: 0 var(--gap);
    }
}
.main {
    grid-template-columns: subgrid;
    display: grid;
    grid-auto-rows: min-content;
    & > * {
        grid-column: 1/-1;
    }
}