.section {

    padding: 4rem 0;
    display: grid;
    grid-template-columns: var(--content-grid);
    gap: var(--gap);
    grid-template-rows: min-content;
    align-items: start;

    & > [data-content] {
        grid-column: 1/-1;
    }
    [data-content="section_title"] {
        grid-column: 1/5;
    }
    [data-content="section_description"] {
        grid-column: 1/5;
    }

    [data-content="section_image"], [data-content="section_select__variant"]  {
        grid-column: 5/-1;
    }

    [data-content="section_select__variant"]  {
        grid-row: 2/4;
        transform: translateY(-4rem);
        padding: 0 2rem;
    }

    [data-content="section_image"] {
        grid-row: 1/3;
    }

    [data-content="section_link"] {
        grid-column: 1/5;
    }
    [data-content="section_variants"] {
        grid-column: 1/5;
    }
    &[data-content="section-controls"], &[data-content="section-signals"] {
        grid-template-rows: min-content;
        [data-type="section-controls-intro"],[data-type="section-signals-intro"] {
            grid-column: 1/7;
            grid-row: 1/2;
        }
        [data-content="section_image"] {
            padding-bottom: 0;
        }
    }
    &[data-content="section-hydraulic-tools"] {
        [data-type="section-hydraulic-tools-intro"] {
			grid-column: 1/7;
			grid-row: 1/2;
			@media screen and (max-width: 64rem) and (min-width: 48rem) {
				grid-column: 1/5 !important;
			}
        }
		 [data-type="product-hydraulic-tools"] {
			 @media screen and (max-width: 64rem) and (min-width: 48rem) {
				 grid-column: 5/-1 !important;
				 grid-row: 1/2 !important;
			 }
		 }
    }
    @media screen and (max-width: 64rem) {

        gap: 1rem;
        padding: 1rem 0;
        & > * {
            grid-column: 1/-1 !important;
        }
        [data-content="section_select__variant"]  {
            padding: 2rem 0 0 ;
            transform: translateY(0);
        }
        [data-type="product-controls"], [data-type="product-hydraulic-tools"] {
            grid-row: 2/3 !important;
        }

    }

}
